# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore virtual environmnet 
simple-task-venv/

# Ignore SQLite database and instance folder
instance/

# Other files
STEPS.md